body {
    font-family: sans-serif;
    margin: 0;
    background-color: #123;
    padding: 0;
    color: white;
  }
  
  header {
    background-color: #3399FF;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .hero {
    text-align: center;
  }
  
   img {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .features {
    padding: 40px 0;
    text-align: center;
  }
  
  .features h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
 
  .features p {
    font-size: 1em;
  }
  
  
  .nav{
    background-color: white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav a {
    float: left;
    color: #123;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}